/*default*/
tag {
    color: #f7f7f7;
    background-color: #333;
    border: 1px solid #333;
    font-size: 1rem;
    padding: 0 0.4rem 0 0.4rem;
    /*top right bottom left*/
    position: relative;
}

/*color theme*/
.tag-dark {
    background: #f7f7f7;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
}

/*shapes*/
.tag-rounded {
    border: 1px solid transparent;
    border-radius: 0.9rem;
}

/*sizes*/
.tag-small {
    font-size: 0.6rem;
}

.tag-large {
    font-size: 1.5rem;
}

.tag-xl {
    font-size: 2rem;
}


/*fill*/
.tag-hollow-cyan{
    background: none;
    border: 1px solid #33cccc;
    color: #33cccc;
}

/*colors*/
.tag-cyan{
    color:white;
    border-color:#33cccc;
    background:#33cccc;
}